<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
  <title>Facebook</title>
</head>

<body>
  <div class="container">
    <h1><img class="fb-logo" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook"></h1>
    <form action="/" method="POST">
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" placeholder="Mobile number or email address">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-lg btn-block btn-login">Log In</button>
        </div>
      </div>
    </form>

    <div class="container">
      <div class="row ">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1">
          or
         </div>
        <div class="col-5">
          <hr>
        </div>
      </div>
    </div>

    <div class="container centerDiv my-2">
      <button type="button" class="btn btn-success" id="btn-shadow">Create New Account</button>
      <div class="my-2"><a id="forget-font" href="#">Forgotten password?</a></div>
    </div>

    <div class="container centerDiv my-4">
      <div class="row">
        <div class="col-6" id="Eng-lang-font">
          English(UK)
        </div>
        <div class="col-6">
          <a href="#">हिन्दी</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="#">اردو</a>
        </div>
        <div class="col-6">
          <a href="#">ಕನ್ನಡ</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="#">മലയാളം</a>
        </div>
        <div class="col-6">
          <a href="#">తెలుగు</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="#">தமிழ்</a>
        </div>
        <div class="col-6">
          <a href="#"><button id="btn-plus">+</button></a>
        </div>
      </div>
    </div>
    <div class="info container">
      About <b>.</b> Help <b>.</b> More
      <div class="footer">Facebook Inc.</div>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
</body>

</html>
